<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Social app</title>
 <!-- <link rel="stylesheet" type="text/css"  href="css/style.css" /> -->
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" type="text/css"  href="/static/css/foundation.min.css">
</head>
<body>
	</body>
<header>
<div class="row">
	<div class="medium-4 columns">
		<a href="{{ url_for('index') }}" class="icon-logo"</a>
	</div>
<div class="medium-4 columns">
<!-- SAy hi -->
</div>
<div class="medium-4 columns">
<!-- Login in Log out-->
</div>

</div>

</header>

	   </body>
</html>